django-environ==0.4.5
idna==2.9
inputs==0.5
kiwisolver==1.3.0
mpmath==1.1.0
numpy==1.18.4
opencv-python==4.2.0.34
pathlib==1.0.1
Pillow==7.1.2
praw==7.1.0
prawcore==1.5.0
pyparsing==2.4.7
pyperclip==1.8.1
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyreadline==2.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
requests==2.23.0
rlbot==1.42.4
scipy==1.4.1
six==1.15.0
tqdm==4.46.0
update-checker==0.18.0
urllib3==1.25.9
webdriver-manager==2.5.3
websocket-client==0.57.0
websockets==8.1
