body {
    background-color: #606060;
    margin: 0;
    color: white;
}

.topnav {
    background-color: #505050;
    overflow: auto;
}

.botnav {
    background-color: #202020;
    overflow: auto;
}

#home {
    float: left;
    width: 200px;
    margin-left: 0.5%;
}

#shh {
    float: left;
    width: 200px;
    margin-left: 0.5%;
}

.smol {
    border-radius: 15%;
    padding: 0.2%;
    float: right;
    margin-top: 13px;
    margin-right: 1.5%;
    width: 40px;
}

.smol2 {
    float: left;
    margin-top: 0.7%;
    margin-left: 1.5%;
    text-align: center;
}

.smol:hover {
  background-color: #606060;
  color: black;
}

img {
        max-width: 100%;
        max-height: 100%;
        display: block;
}

.leaders {
    padding-left:42%;
    font-family: "Arial black", "Lucida Grande",sans-serif;
    font-size: 20px;
}

.leaderstitle {
    margin-block-end: 1%;
    color: #3EF1ED;
    text-decoration: none;
}

.footer {
    background-color:#303030;
}

#shh {
    float: left;
    width: 75px;
    margin-left: 35%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#time {
  float:left;
  text-align: center;
  font-family: Tahoma;
}

#message {
  float:left;
  text-align: center;
}

#sign {
    font-family: Arial;
    color: #A0A0A0;
}

#video {
    margin-left: 10%;
}

#graph {
    margin-top: 4%;
    margin-left: 3.5%;
    margin-bottom: 1%;
}

#graph2 {
    margin-top: 1%;
    margin-left: 3.2%;
    margin-bottom: 4%;
}

#graph4 {
    margin-top: 1%;
    margin-left: 2.7%;
    margin-bottom: 1%;
}

#graph5 {
    margin-top: 1%;
    margin-left: 2.9%;
    margin-bottom: 1%;
}

#graph3 {
    margin-top: 1%;
    margin-left: 1.8%;
    margin-bottom: 4%;
}

#more {
    margin-top: 4%;
    margin-left: -0.5%;
    margin-bottom: 4%;
}

#iframe {
    font-size: 50px;
}